* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: gray;
}
#carousel {
	margin: 20px auto;
	width: 400px;
	height: 300px;
	overflow: hidden;
}
#carousel ul {
	font-size: 0;
	display: block;
	list-style: none;
	width: 2000px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

#carousel ul li {
	display: inline-block;
	width: 400px;
	height: 300px;
}

#carousel ul li img {
	width: 400px;
	height: 300px;
	background-size: cover;
}